<!DOCTYPE html>
</head>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Text Utils</title>
</head>
<body>



<h1>Welcome to my Website</h1>
<h3>ENTER YOUR TEXT BELOW:-</h3>



<form action='/analyz' method='get'>
	<textarea name='text' style='margin: 0px; width: 100%; height:100px;'></textarea><br>
	<input type="checkbox" name="removepunc"> Remove punctuations<br>
	<input type="checkbox" name="upper"> UPPERCASE<br>
	<input type="checkbox" name="newline">New Line Remover<br>
	<input type="checkbox" name="ExtraSpaceRemover">Extra Space Remover<br>
	<input type="checkbox" name="CharacterCount">Character Count<br>
	<button type="submit">analyz text</button>



</form>


</body>
</html>